extends baseEmail

block content
  //- - var img = "public/img/email/logo.png"
  //- img(src='https://kycdocumentsuploads.s3.us-east-2.amazonaws.com/default.jpg')
  p Dear #{firstName},

  p
    | Your password for   has been successfully reset. 
    //- br
  //- p
  //-   span(style='color: orangered; justify-content: center;') #{url}.
  //-   //- br
  //- p
  //-   span(style='white-space: pre-line;')
  //-     | If you did not make this change or you believe an unauthorised person
  //-     | has accessed your account, you should go to 
  //-     a(href='https://www.hettysphere.com') hettysphere.com
  //-     |  to reset your password
  //-     |         immediately.
  p
    span(style='white-space: pre-line;')
      | If you did not make this change or you believe an unauthorised person
      | has accessed your account, kindly login to your account. 
      //- a(href='https://www.hettysphere.com') hettysphere.com
      //- |  to reset your password
      //- |         immediately.

  p
    | Sincerely 
    br
    |       Everywair
